* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./images/antiquepaper_1920x1234.jpg");
}

#logo {
    width: 100px;
    height: 100px;
}

#header {
   
    /* background-image: url("https://images.unsplash.com/photo-1593701948098-5fe9748bae23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"); */
    /* background-size: cover; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* width: 100%; */
}

#header>div {
    text-align: center;
}

.container {

    padding: 0;
   box-shadow: 0px 0px 3px 1px #ccc;
  
   
}

#content {
   
    width: 100%;
}

.logo_text {
    color: rgb(83, 33, 5);
    font-size: 3em;
    font-family: 'Cedarville Cursive', cursive;
    
}

.logo_text_footer {
    color: rgb(83, 33, 5);
    font-size: 16px;
    font-family: 'Cedarville Cursive', cursive;
    
}


.carousel_main {
    margin: 5px;
   
} 

.carousel_dashboard {
    margin: 5px;
} 

.carousel {
    display: flex;
    border-radius: 10px;
    /* justify-content: center; */
    width: 100%;
    
    
}

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

.navbar {
    margin-bottom: 0px;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 0;
    background-color: rgb(83, 33, 5);
}

.navbar-brand {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
}

.logo_small {
    height: 30px;
    width: 30px;
    border: solid red 1px;
}

.home_buttons { 


 display: flex;
 justify-content: center;
 
    
    margin: 5px;
    border-radius: 10px;
  

}


button {
    width: 20%;
    
    background-color: rgb(83, 33, 5);
    border-radius: 10px;
    color: #9d9d9d;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    /* /* border-radius: 16px; */
    margin-left: 5px;
    padding: 0px;
    
}

button:hover {
    background-color: red;
}

#footer_container {
    background-image: url("./bg_hardwood_floor.png");

    text-align: center;
    padding-top: 50px;


}

#footer_container > p {
    font-size: 10px;
    color: rgb(83, 33, 5);
}



img {
    /* margin-top: .25em; */
    margin: 0px;
  
    
}

li:hover {
    background-color: red;
}