@media only screen and (max-width: 413px) {
  .header {}

  .header-wrapper { }

  .header-container {
    overflow: hidden;
  }

  .header-container-top { }

  .header-container-top > .fa-paw {
    font-size: 1.8em;
  }

  #header-logo {
    width: 150px;
    height: 150px;
  }

  .header-text {
    font-size: 1.5em;
  }
  
  .header-container-bottom {
    font-size: 0.8em;
    text-align: center;
  }

  .dashboard-wrapper {}

  .dashboard-button {
    font-size: 0.7em;
  }

  footer {}

  .footer-wrapper {}

  .footer-container {}

  .footer-items {
    display: grid;
    grid-template-columns: 50% 50%;
    
  }

  .footer-items > .footer-item > ul{
    padding-top: 1em;
  }

  .footer-items > .footer-item > ul > li {
    white-space: normal;
  }

  .fixed-logo-wrapper {
    width: 75px;
    height: 75px;
  }

  #about-image {
    width: 250px;
  }

  .video-card {}

  .video-player-wrapper {
    padding-right: 0.25em;
    padding-left: 0.25em;
  }

  .video-player-main {
    overflow: scroll;
  }
}

@media only screen and (max-width: 576px) and (min-width: 414px) {
  .header {}

  .header-wrapper {}

  .header-container {
    /* overflow: hidden; */
  }

  .header-container-top {}

  .header-container-top > .fa-paw {
  
  }

  #header-logo {

  }

  .header-text {

  }
  
  .header-container-bottom {}

  .dashboard-wrapper {}

  .dashboard-button {
    font-size: 0.8em;
  }

  footer {}

  .footer-wrapper {}

  .footer-container {}

  .footer-items {}

  .footer-items > .footer-item > ul > li {}   

  .fixed-logo-wrapper {
    /* width: 75px;
    height: 75px; */
  }

  .video-card {}

  .video-player-wrapper {}

  .video-player-main {}
}

@media only screen and (max-width: 768px) and (min-width: 577px) {
  .header {}

  .header-wrapper {}

  .header-container {
    /* overflow: hidden; */
  }

  .header-container-top {}

  .header-container-top > .fa-paw {
  
  }

  #header-logo {
    /* width: 150px;
    height: 150px; */
  }

  .header-text {
    font-size: 1.5em;
  }
  
  .header-container-bottom {}

  .dashboard-wrapper {}

  .dashboard-button {}

  footer {}

  .footer-wrapper {}

  .footer-container {}

  .footer-items {}

  .footer-items > .footer-item > ul > li {}   

  .fixed-logo-wrapper {
    /* width: 75px;
    height: 75px; */
  }

  .video-card {}

  .video-player-wrapper {}

  .video-player-main {}
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  .header {}

  .header-wrapper {}

  .header-container {
    /* overflow: hidden; */
  }

  .header-container-top {}

  .header-container-top > .fa-paw {
  
  }

  #header-logo {
    /* width: 150px;
    height: 150px; */
  }

  .header-text {
    font-size: 1.5em;
  }
  
  .header-container-bottom {}

  .dashboard-wrapper {}

  .dashboard-button {}

  footer {}

  .footer-wrapper {}

  .footer-container {}

  .footer-items {}

  .footer-items > .footer-item > ul > li {}   

  .fixed-logo-wrapper {
    /* width: 75px;
    height: 75px; */
  }

  .video-card {}

  .video-player-wrapper {}

  .video-player-main {}
}

@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .header {}

  .header-wrapper {}

  .header-container {
    /* overflow: hidden; */
  }

  .header-container-top {}

  .header-container-top > .fa-paw {
  
  }

  #header-logo {
    /* width: 150px;
    height: 150px; */
  }

  .header-text {
    font-size: 1.5em;
  }
  
  .header-container-bottom {}

  .dashboard-wrapper {}

  .dashboard-button {}

  footer {}

  .footer-wrapper {}

  .footer-container {}

  .footer-items {}

  .footer-items > .footer-item > ul > li {}   

  .fixed-logo-wrapper {
    /* width: 75px;
    height: 75px; */
  }

  .video-card {}

  .video-player-wrapper {}

  .video-player-main {}
}
