.about-wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.about-main {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#about-image {
  float: left;
  width: 100%;
  margin: 0 0.5em 0.5em 0;
}

.about-main>p {
  text-align: justify;
}

#learn-more {
  color:red;
  font-style: italic;
  text-align: center;
}

.help-raise-wrapper {
  text-align: center;
  padding: 0.5em;
  margin-left: 0;
  margin-right: 0; 
}

.help-raise-container {
  box-shadow: inset 0 0 15px rgba(83, 33, 5, .8);
  outline: none;
  padding-top: 2em;
  padding-bottom: 2em;
  font-weight: bolder;
}

.help-raise-container> :nth-child(4) {
  padding-top: 1em;
  margin-bottom: 0;
}

.videos-wrapper {
  padding-bottom: 3em;
  margin-left: 0;
  margin-right: 0;  
}

.videos-container > h2 {
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

.video-card {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

.video-player-wrapper {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0.5em;
}

.video-player-main {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc(9 / 16 * 100%);
}

.video-player-main iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.video-desc {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.video-title {
  font-weight: bold;
  color: #4aaaa5;
  font-size: 1.2em;
}

.video-author {
  display: block;
  font-size: 0.8em;
  padding-top: .25em;
  padding-bottom: 1em;
  color: tomato;
}

.dog-desc-main>p {
  text-align: justify;
}