.adopt-container {
 
}

.adoptable-dogs-container {
  display: flex;
  justify-content: left;
  padding-left: 15px;
  margin-left: 0;
  margin-right: 0;
}

.card-title {
  color: tomato;
  font-weight: bold;
}

.card-wrapper {
  padding-left: 0px;
  padding-bottom: 1em;
}

.adopt-dog-card {
  display: flex;
  justify-content: center;
}

.adopt-dog-img {
  height: auto;
}

.card-body {
  display: inline-block;
  width: 75%;
  position: relative;
  top: -3rem;
  margin: 0 auto;
  background-color: #ffa;
  padding: 1em;
  opacity: .80;
}