.contact-container {}

.contact-main {
  padding: 0 0.5em;
}

.contact-block {
  padding-top: 1em;
}

.contact-block > div > a {
  text-decoration: none;
}

.contact-block > div > a:hover {
  color: blue;
  font-weight: lighter;
}

.partners {
  word-wrap: break-word;
  hyphens: auto;
}