#donate-button-container {
    height: 50vh;
    display: grid;
    place-items: center;
}

#donate-button  {
    display: flex;
   justify-content: center;
} 

#donate-button > img {
    display: inline-block;
    transform: scale(2);
}