.carousel-block {
  margin-left: 0;
  margin-right: 0;
}

.carousel-wrapper {}

.carousel-container {
  width: 100%;
}

.carousel-item {
  border-radius: 0px;
}

.carousel-item>img {
  width: 100%;
  object-fit: cover;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.mission-block {
  margin-left: 0;
  margin-right: 0;
}

.mission-wrapper {
  text-align: center;
  background-color: transparent;
  color: rgb(83, 33, 5);
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.mission-wrapper > p {
  font-size: 0.8em;
}

.fa-arrow-down {
  font-size: 1.25em;
}

.dashboard-wrapper { 
  margin-left: 0;
  margin-right: 0;
  background-color: transparent);
}

.dashboard-container {
  display: grid;
  width: 100%;
  gap: 0.75em;
  padding: 1em;
}

.dashboard-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(83, 33, 5);
  color: #FDF9D8;
  box-shadow: 6px 6px 8px rgba(83, 33, 5, .8);
  font-size: 1em;
}

.dashboard-button:hover {
  text-decoration: none;
  background-color: #FDF9D8;
  color: rgb(83, 33, 5);
  font-weight: bold;
  box-shadow: 0 12px 20px 0 var(--color-brown-o);
  cursor: url('../imgs/paw_red.png'), auto;
}

.dashboard-button {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: var(--color-brown-o);
  transition: all 1s;
}
