.fa-cart:hover {
  cursor: pointer;
}

#lblCartCount {
  font-size: 12px;
  background: brown;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -7px;

}

.shop-container {}

.shop-main {}

.shopping-cards-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 0.8em;
  font-family: sans-serif;
  transition: .25s;
  margin-bottom: 0.5em;
}

.shopping-item-card {
  background: var(--background-maroon_stucco);
  transition: .8s;
  display: grid;
  grid-template-rows: 250px 100px;
  position: relative;
  overflow: hidden;
}

.shopping-item-card::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: solid red 1px;
  background-color: black;
  transform: rotate(45deg);
  margin: -30px;
}

.shopping-item-card:hover {
  transform: scale(1.05);
  transition: .8s;
}

.shopping-card-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  display: block;
  padding: .5em;
  transition: 1.6s;
}

.shopping-card-image:hover {
  transform: scale(1.5);
  transition: .8s all linear;
  position: relative;
  border-radius: 15%;
}

.shopping-card-content {
  line-height: 1.5em;
  font-size: 18px;
  overflow: auto;
  color: #b48345;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);

}

.product-title>a {
  opacity: .7;
  color: inherit;
  text-decoration: none;
}

.product-price {
  margin-bottom: 0;
  font-size: 16px;
}

.product-price>a {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-emphasis */
  text-emphasis: none;
  color: inherit;
  text-decoration: none;
}

/* shopping cart and count container */
#header-shopping-cart {
  position: relative;
}

.header-shopping-cart-img {
  height: 2em;
  position: relative;
  padding-top: 0;
  top: .4em;
}

/* item count label */
.badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}

.test-btn-container {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.add-to-cart-form {
  display: flex;
  border: solid red 2px;
  width: 100%;
  flex-direction: column;
  align-content: flex-end;
}

/* ----------------------------------------------------- */
.place-order-wrapper {
  padding-top: .5em;
}

.place-order-container {
  display: grid;
  align-content: space-around;
  grid-template-areas:
    "colors sizes"
    "button button";
  justify-content: space-evenly;
}

.colors, .sizes {
  display: flex;
  flex-direction: column;
  height: 3em;
}

.sizes {}

.add-to-cart-btn-wrapper {
  grid-area: button;
  display: flex;
  justify-content: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

.add-to-cart-boton {
  grid-area: button;
  height: 1.8em;
}

