.shopping-cards-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 0.5em;
  font-family: sans-serif;
  transition: .25s;
  padding-top: 1em;
  padding: 1em 0.5em;
}

.shopping-item-card {
  background: var(--background-maroon_stucco);
  transition: .8s;
  display: grid;
  grid-template-rows: 250px 125px;
  position: relative;
  overflow: hidden;
}

.shopping-item-card::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: solid red 1px;
  background-color: black;
  transform: rotate(45deg);
  margin: -30px;
}

.shopping-item-card:hover {
  transform: scale(1.05);
  transition: .8s;
}

.shopping-card-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  display: block;
  padding: .5em;
}

.shopping-card-image:hover {
  position: relative;
  border-radius: 15%;
}

.shopping-card-content {
  line-height: 1.5em;
  font-size: 1.2em;
  overflow: auto;
  color: #b48345;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
}

.product-title {
   margin-bottom: 0.5em; 
}

.product-title>a {
  opacity: .7;
  color: inherit;
  text-decoration: none;
}

.product-price {
  margin-bottom: 0;
  font-size: 16px;
}

.product-price>a {
  color: inherit;
  text-decoration: none;
}

#header-shopping-cart {
  position: relative;
}

.header-shopping-cart-img {
  height: 1.75em;
  position: absolute;
  padding-top: 0;
  top: -0.65em;
}

.place-order-wrapper {
  padding-top: .5em;
}

.place-order-container {
  display: grid;
  align-content: space-around;
  grid-template-areas:
    "colors sizes"
    "button button";
  justify-content: space-evenly;
  color: var(--color-cream);
}

.colors, .sizes {
  display: flex;
  flex-direction: column;
  height: 3em;
}

.add-to-cart-btn-wrapper {
  grid-area: button;
  display: flex;
  justify-content: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

.add-to-cart-btn {
  grid-area: button;
  height: 1.75;
}

