* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* cursor: url('../imgs/paw_red.png'), auto; */
}

:root {
  --color-brown: rgb(83, 33, 5);
  --color-brown-o: rgba(83, 33, 5, 8);
  --color-cream: #FDF9D8;
  --color-black-o: rgba(0, 0, 0, .85);
  --main-background: url("../imgs/antiquepaper_1920x1234.jpg");
  --color-gold: #b48345;
}

a {
  cursor: pointer;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image: url("../imgs/antiquepaper_1920x1234.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: .75rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-brown-o);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-cream);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.shop-portal-container::-webkit-scrollbar {
  width: .5rem;
}

.shop-portal-container::-webkit-scrollbar-track {
  background: var(--color-black-o);
}

.shop-portal-container::-webkit-scrollbar-thumb {
  background: var(--color-gold);
  border-radius: 25px;
  height: 100px;
}

.shop-portal-container::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

h1 {
  color: rgb(83, 33, 5);
}

h2,
h3,
h4,
h5 {
  color: #4aaaa5;
}

.header {}

.block-header {
  /* color: #4aaaa5; */
  color: var(--color-black-o);
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 4px;
  font-size: 34px;
}


/*http://www.corelangs.com/css/box/shadow.html*/

.box-shadow {
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(83, 33, 5, .8);
}

.header-wrapper {
  padding: 1em;
  /* border: solid 5px rgba(83, 33, 5, .8); */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main {
  color: var(--color-brown);
  text-align: center;
}

.header-main-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1em;
  padding-bottom: 1em;
}

.header-main-top>i {
  font-size: 2em;
  color: inherit;
}

.header-main-bottom {
  font-weight: bolder;
  font-size: 1.1em;
  font-family: consolas;
  letter-spacing: 0.125ch;
}

.header-text,
#txt-rotate {
  /* color: #841617; */
  color: rgb(83, 33, 5);
  font-size: 8em;
  font-family: 'Cedarville Cursive', cursive;
  padding-bottom: 0;
}

#header-logo {
  width: 300px;
  height: 300px;
  /* filter: invert(0%); */
  /* filter: contrast(100%); */
  /* filter: saturate(100%); */
}

nav {
  border-bottom: solid .25px var(--color-brown);
  background-color: var(--color-cream)
}

.navbar {
  padding: 0;
}

#navbar-logo-img {
  background-image: url("../imgs/logo.png");
  height: 40px;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand-main {
  display: flex;
  align-items: center;
}

.navbar-brand-text {
  position: relative;
  top: 4px;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-brown-o);
  font-family: 'Cedarville Cursive', cursive;
  padding-left: 4px;
}

.dropdown-menu {
  background-color: var(--color-cream);
}

.nav-link-me {
  padding: .5rem .5rem;
}

.nav-item>.nav-link-me {
  background-color: transparent;
  color: rgba(0, 0, 0, .5);
  display: block;
  text-decoration: none;
}

.nav-item a.active {
  background-color: rgb(83, 33, 5);
  color: #FDF9D8;
  display: block;
  text-decoration: none;
  opacity: .8;
}

.nav-item a:hover {
  background-color: rgb(83, 33, 5);
  color: #ffffff;
}

.navbar-toggler {}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(83, 33, 5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.container {
  background-color: #FDF9D8;
}

.container-all {
  position: relative;
  min-height: 100vh;
  margin-bottom: 150px;
  padding-bottom: 5em;
}

.container-index {
  padding-bottom: .5em;
}

.carousel-container {
  justify-content: center;
}

.carousel-inner {}

.carousel-item {
  /* filter: invert(0%); */
  /* filter: contrast(200%); */
  /* filter: saturate(5000%); */
  /* filter: sepia(1); */
  /* filter: hue-rotate(180deg); */
  border-radius: 0px;
  max-height: 90vh;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.divider-index {
  height: .5em;
  margin-left: -15px;
  margin-right: -15px;
  background-image: url("../imgs/antiquepaper_1920x1234.jpg")
}

.mission-wrapper {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #FDF9D8;
  color: rgb(83, 33, 5);
}

.dashboard-wrapper {
  margin-top: .5rem;
}

.dashboard-wrapper>.col-md-4 {
  padding: 0;
}

.dashboard-wrapper-buttons {
  padding: 1rem 1rem .001rem 1rem;
  background-color: #FDF9D8;
}

.dashboard-wrapper-buttons-center {
  padding-left: -15px;
}

.dashboard-button {
  height: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(83, 33, 5);
  color: #FDF9D8;
  box-shadow: 6px 6px 8px rgba(83, 33, 5, .8);
}

.dashboard-button:hover {
  text-decoration: none;
  border: solid 5px rgb(83, 33, 5);
  background-color: #FDF9D8;
  color: rgb(83, 33, 5);
  font-weight: bold;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, .9);
  cursor: url('../imgs/paw_red.png'), auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}

.footer-wrapper {
  /* Use hover effects for social media links;
  // look at https://wpdatatables.com/css-image-hover-effects/
  // it has great examaples */
  height: 150px;
  background-color: rgb(83, 33, 5);
  padding: 1em;
  opacity: .8;
}

.footer-main {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-paw {
  color: #FDF9D8;
  font-size: .75em;
}

.footer-logo-text {
  color: #FDF9D8;
  font-size: 1.5em;
  padding-left: .25em;
  padding-right: .25em;
}

.text-muted {
  margin-bottom: 0;
  font-size: .5em;
}

.footer-contact-social {
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
  margin-bottom: 0;
  padding-top: .5em;
  list-style-type: none;
}


/*Learn to USE*/


/*-------------------------------*/


/*https://www.youtube.com/watch?v=UOKQ6gw21NA&feature=youtu.be*/

.partners {
  overflow-wrap: break-word;
  hyphens: auto;
}

.myP {
  max-width: 20em;
  hyphens: auto;
}


/*-------------------------------*/

.about-wrapper {
  padding-bottom: 6em;
}

.about_viva_perros-main {}

.about-main>p {
  text-align: justify;
}

#about-image {
  float: left;
  width: 300px;
  margin: 0 1em 1em 0;
}

.help-raise-wrapper {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.help-raise-main {
  /* border: lightgrey 1px solid; */
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  /* box-shadow: inset 5px 5px 10px #c1c1c1; */
  box-shadow: inset 0 0 15px rgba(83, 33, 5, .8);
  outline: none;
  padding-top: 2em;
  padding-bottom: 2em;
  /* background-color: #d8e2dc; */
}

.help-raise-main> :nth-child(4) {
  padding-top: 1em;
  margin-bottom: 0;
}

.videos-main {
  /* padding-top: 6em; */
}

.video-each {
  margin-top: 7.5px;
  padding-left: 15px;
}

.video-player {
  padding-right: 0;
  padding-left: 0;
}

.video-player-main {
  position: relative;
  width: 100%;
  height: 0;
  /* padding-bottom: 56.25%; */
  padding-top: calc(9 / 16 * 100%);
}

.video-player-main iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.video-title {
  font-weight: bold;
  color: #4aaaa5;
  font-size: 20px;
}

.video-author {
  display: block;
  font-size: 14px;
  padding-top: .25em;
  padding-bottom: 1em;
  color: tomato;
}

.video-desc-main>p {
  text-align: justify;
}

.success-dog-profile {
  background: yellow;
  margin-bottom: 1em;
}

.success-dog-profile>.video-desc {
  padding-top: .5em;
}

.success-dog,
.success-dog>.img-wrapper {
  padding: 0;
}

.container-adoptable_dogs,
.container-success_stories {
  background: transparent;
}

.cards {
  display: flex;
  justify-content: left;
  padding-left: 15px;
}

.card-title {
  color: tomato;
  font-weight: bold;
}

.card-wrapper {
  padding-left: 0px;
  padding-bottom: 1em;
}

.adopt-dog-card {
  display: flex;
  justify-content: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* box-shadow: 6px 6px 8px rgba(83, 33, 5, .8); */
}

.adopt-dog-img {
  height: auto;
}

.card-body {
  display: inline-block;
  width: 75%;
  position: relative;
  top: -3rem;
  margin: 0 auto;
  background-color: #ffa;
  padding: 1em;
  opacity: .80;
}

.card:hover {
  /* box-shadow: 8px 8px 8px rgba(95, 90, 162, 1); */
}

.fa-arrow-down {
  font-size: 2rem;
}

.success {
  object-fit: cover;
}

.img-wrapper {
  width: 100%;
  padding: 1em;
}

.success-dog-img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

@media only screen and (max-width: 993px) {}

@media only screen and (max-width: 767px) {
  #shop-cart-item-img {}
  .img-grid {
    grid-column: 1/-1;
  }
  .order-grid {
    grid-column: 1/-1;
  }
  .header-main-top>i {
    font-size: 1.5em;
  }
  .header-main-bottom {
    font-size: 10px;
  }
  .header-text {
    color: rgb(83, 33, 5);
    font-size: 4em;
    font-family: 'Cedarville Cursive', cursive;
    padding-bottom: 0;
  }
  #header-logo {
    width: 100px;
    height: 100px;
  }
  .dashboard-wrapper-buttons-center {
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .dashboard-wrapper>.col-md-4 {
    padding: 0;
  }
  .dashboard-wrapper-buttons-right {
    padding-top: 0;
  }
  .wp_about_us {
    padding-left: 0;
    padding-right: 0;
  }
  .wp_about_us_text>p {
    padding-left: .5em;
    padding-right: .5em;
  }
  #about-image {
    width: 100%;
  }
  #ytplayer {
    width: 100%;
  }
  .video-each {
    padding-right: 15px;
    padding-left: 15px;
  }
  /* .video-desc {
    padding-right: 0;
    padding-left: 0;
  } */
}

@media only screen and (max-width: 413px) {
  .container-all {
    margin-bottom: 150px;
    padding-left: 0;
    padding-right: 0;
  }
  .container-index {
    padding-bottom: 0;
    padding-right: 0;
    border: solid;
  }
  .block-header {
    padding-top: 12px;
    padding-bottom: 0;
    font-size: 28px;
    margin-bottom: 0;
  }
  .header-wrapper {
    padding: .5em;
  }
  .header-main {
    line-height: 1em;
  }
  .header-main-top>i {
    font-size: 1.25em;
  }
  .header-main-bottom {
    font-size: 16px;
  }
  .header-text {
    /* color: #841617; */
    color: rgb(83, 33, 5);
    font-size: 3em;
    font-family: 'Cedarville Cursive', cursive;
    padding-bottom: 0;
  }
  #header-logo {
    width: 100px;
    height: 100px;
  }
  .carousel-block {
    margin-left: 0;
    margin-right: 0;
  }
  .divider-index {
    margin-left: 0;
    margin-right: 0;
  }
  .mission-block {
    margin-left: 0;
    margin-right: 0;
  }
  .mission-wrapper {
    padding-top: 1rem;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .75em;
  }
  .dashboard-wrapper {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .fixed-logo-wrapper {
    width: 75px;
    height: 755px;
    padding: 5px;
    border: solid red 2px;
  }
  .fixed-logo-container::after {
    font-size: .5em;
  }
  #about-image {
    margin-right: 0;
    margin-bottom: .5em;
    width: 100%;
  }
  .about-wrapper {
    padding-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  .about-main {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .about-main>p {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .help-raise-wrapper {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .help-raise-main {
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .help-raise-main> :nth-child(1),
  .help-raise-main> :nth-child(2) {
    margin-bottom: 8px;
  }
  .help-raise-main>:last-child {
    padding-top: 8px;
    ;
  }
  .videos-main>h2 {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .videos-wrapper {
    /* padding-top: 1.5em; */
  }
  .video-each,
  .success-dog-profile {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .video-each>div,
  .success-dog>.img-wrapper {
    padding-right: 0;
    padding-left: 0;
  }
  .video-player,
  #success-dog-img,
  .success-dog-profile>.video-desc {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
  #ytplayer {
    width: 100%;
  }
  .video-desc-main {
    padding-left: .5em;
    padding-right: .5em;
  }
  .video-desc-main>p {
    text-align: justify;
    margin-bottom: 0;
  }
  .success-dog {
    padding-right: 0;
    padding-left: 0;
  }
  .success-dog>.img-wrapper {
    padding-top: 0;
  }
  .success-dog-profile {
    padding-bottom: 1em;
  }
  .video-author {
    padding-bottom: 1em;
    width: 100%;
  }
  .card-wrapper {
    padding-left: 0px;
    padding-bottom: 7.5px;
  }
  .card-wrapper {
    padding-left: 0px;
    padding-bottom: 7.5px;
    padding-right: 0;
  }
  .cards {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .contact-block {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .shop-portal-content {}
  .img-grid {
    /* min-width: 500px; */
    /* max-height: 400px; */
  }
}

.animate {
  opacity: 0;
  transition: opacity 1000ms;
}

.animate:hover {
  opacity: 1;
}

.fixed-logo-wrapper {
  animation: mySpiner 5s infinite linear;
  /* animation-iteration-count: infinite; */
}

@keyframes mySpiner {
  from {
    transform: rotate(0deg);
  }
  /* 25% {
    transform: rotate(-45deg);
  } */
  to {
    transform: rotate(360deg);
  }
}

.fixed-logo-wrapper {
  position: fixed;
  left: 2em;
  bottom: 2em;
  width: 150px;
  height: 150px;
  z-index: 1000;
  transition: 1s linear;
  border: dotted 1px #FDF9D8;
  border-radius: 100%;
  padding: 25px;
}

.fixed-logo-wrapper:hover {
  transform: scale(1.5);
  /* transition-duration: 5s; */
  transition: 1s linear;
  cursor: pointer;
}

.fixed-logo-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.fixed-logo-container::after {
  content: "[x]";
  position: absolute;
  top: 0;
  right: -0;
  /* border: dotted 1px rgb(83, 33, 5); */
  font-size: .75em;
  font-weight: bold;
  color: var(--color-cream);
}

.fixed-logo-container>img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.hide {
  display: none;
  /* border: solid white; */
}

.container-shop {
  background: transparent;
}


/* .items-wrapper {
  display: flex;
  justify-content: center;
  border: solid red;
  padding-left: 15px;
} */

.item-wrapper {
  background-color: #FDF9D8;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1em;
  margin-right: 15px;
}

.item-img-wrapper {
  padding-bottom: .5em;
}

.product-price,
.product-name {
  padding-left: .5em;
}

.cartas {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 15px;
  font-family: sans-serif;
  transition: .25s
}

.item-carta {
  background: var(--color-black-o);
  transition: .5s;
}

.cartas * {
  box-sizing: border-box;
}

.carta__image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  display: block;
}

.item-carta:hover {
  transform: scale(1.05);
  transition: .8s;
}

.carta__content {
  line-height: 1.5em;
  /* font-size: 0.9em; */
  font-size: 18px;
  padding: 15px;
  /* background: #FDF9D8; */
  max-height: 175px;
  overflow: auto;
  color: #b48345;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: solid red 1px */
  padding-top: 2em;
  text-align: center;
}

.carta__content>p:first-of-type {
  margin-top: 0m;
}

.carta__content>p:last-of-type {
  margin-bottom: 0;
}

.product_title>a {
  opacity: .7;
  color: inherit;
}

.product_price {
  margin-bottom: 0;
  font-size: 16px;
}

.product_price>a {
  text-emphasis: none;
  color: inherit;
  text-decoration: none;
}

.carta__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  height: 40px;
}

.carta__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

.carta__link {
  color: #64968c;
  text-decoration: none;
}

.carta__link:hover {
  text-decoration: underline;
}