.success-dog-card {
  margin-left: 0;
  margin-right: 0;
}

.dog-bio-wrapper > p {
  padding-left: 0.5em;
}

.dog-bio-container {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column; 
}

.dog-bio-container > p {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.dog-bio-container:before {
  width: 25%;
  border: solid var(--color-turquoise) 1px;
  content: "";
  display: block;
  margin: 0 auto;
  background-color: var(--color-turquoise);
}

.dog-name {
  padding-top: 1em;
}

.dog-name {
  font-weight: bold;
  color: #4aaaa5;
  font-size: 1.25em;
  align-self: center;
}

.adoption-date {
  display: block;
  font-size: 0.8em;
  padding-top: .25em;
  padding-bottom: 1em;
  color: tomato;
  align-self: center;
  padding-bottom: 1.5em;
}

.dog-bio-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1em;
}

.dog-bio-imgs > img {
  width: 100%;
}
